{% extends "base.html"%}

{% block title %} Calculator {% endblock %}


{% block content %}
<!-- form -->
<div class="container-fluid">
    <div class="grid">
        <div class="row" id="titles">
            <div class="col-md-12 btn btn-outline-dark">
                <p class="h2">TRIP CALCULATOR</p>
                <p class="h4">Monthy expenses of trip by diesel car</p>
            </div>
        </div>

        <div class="row my-5 align-items-center" id="form">
            <div class="col-md-4 img-fluid">
                <img src="{{ url_for('static', filename='log-book.jpg') }}" alt="log book">
            </div>
            
            
            
            <div class="col-md-6" id="trip_frequency">
                <form action="/calculator" method="POST">
                    <div class="mb-2">
                        <fieldset class="form-group">
                            <div class="row">
                              <legend class="col-form-label col-sm-2 pt-0">Trip Frequency</legend>
                                <div class="col-sm-10">
                                    <div class="form-check">
                                        <input name="user_trip_frequency" class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="single" checked>
                                        <label class="form-check-label" for="gridRadios2">
                                            Single
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input name="user_trip_frequency" class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="cyclical">
                                        <label class="form-check-label" for="gridRadios1">
                                            Cyclical
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>

                    <div class="form-group row mb-2" id="amount_trip">
                        <label for="amount_trip" class="col-sm-4 col-form-label">If cyclical write amount in month</label>
                        <div class="col-sm-8">
                            <input name="user_amount_trip" type="number" class="form-control" placeholder="Number of trip in month">
                        </div>
                    </div>

                    <div class="form-group row mb-2" id="distance">
                        <label for="distance" class="col-sm-4 col-form-label">Distance</label>
                        <div class="col-sm-8">
                            <input name="user_distance" type="number" class="form-control" placeholder="Distance in kilometers">
                        </div>
                    </div>

                    <div class="form-group row mb-2" id="type_trip">
                        <label for="type_trip" class="col-sm-4 col-form-label">Choose type of trip</label>
                        <div class="col-sm-8">
                            <select class="form-control" name="user_type_trip">
                            <option value="roads"><span>ROADS</span> <small>moving on highway</small></option>
                            <option value="city"><span>CITY</span> <small>traffic jam, slow moving</small></option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group row mb-2" id="average_usage">
                        <label for="average_usage" class="col-sm-4 col-form-label">Average Usage per 100km for {{ user_type_trip }}</label>
                        <div class="col-sm-8">
                            <input name="user_average_usage" type="number" class="form-control" placeholder="AVERAGE FUEL USAGE PER 100KM AMOUNT OF DIESEL">
                        </div>
                    </div>

                    <div class="mb-2 d-flex justify-content-end">
                        <input type="submit" class="btn btn-danger" value="Submit">
                    </div>
                </form>
            </div>
        </div>

        <div class="row">
            <div class="col-md-8 offset-md-4">
                <div class="results">
                    <p class="h2 fw-bold fst-italic">Your trip information to calculate:</p>
                    <p class="h5">Your trip frequency is <span class="fw-bold">{{ trip_frequency }}.</span></p>
                    {% if trip_frequency == 'cyclical'%}
                        <p class="h5">You have <span class="fw-bold">{{ amount_trip }}</span> cyclical trip in month.</p>
                    {% endif %}
                    <p class="h5">The distance of your trip is <span class="fw-bold">{{ distance }} KM</span>.</p>
                    <p class="h5">You drove per month <span class="fw-bold">{{ km_month }} KM</span>.</p>
                    <p class="h5">Your main type trip is <span class="fw-bold">{{ type_trip }}</span>.</p>
                    <p class="h5">Your car use on {{ type_trip }} <span class="fw-bold">{{ average_usage }} L of Diesel per 100km</span>.</p>
                    <p class="h5">You used <span class="fw-bold">{{ fuel_consumpcy }} L of Diesel for drove {{ km_month }} KM.</span>.</p>
                    <p class="h5">Your total monthly cost for diesel <span class="fw-bold">{{ total_cost }} zł.</span>.</p>
                </div>
            </div>
        </div>

    </div>
</div>

{% endblock %}