{% extends "base.html"%}

{% block title %} Calculator_wtf {% endblock %}


{% block content %}
<!-- form -->
<div class="container-fluid">
    <div class="grid">
        <div class="row" id="titles">
            <div class="col-md-12 btn btn-outline-dark">
                <p class="h2">TRIP CALCULATOR</p>
                <p class="h4">Monthy expenses of trip by diesel car</p>
            </div>
        </div>

        <div class="row my-5 align-items-center" id="left_picture">
            <div class="col-md-4 img-fluid">
                <img src="{{ url_for('static', filename='log-book.jpg') }}" alt="log book">
            </div>
            
            
            
            <div class="col-md-6" id="form_user">
                <form action="/calculator_wtf" method="POST">
                    {{ form.hidden_tag() }}
                    <div class="mb-2" id="trip_frequency">
                        <div class="row">
                            
                            <div class="col-sm-4 col-form-label">{{ form.trip_frequency.label }}</div>
                            
                            <div class="col-sm-8">
                            {{ form.trip_frequency }}
                            {% for error in form.trip_frequency.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                            </div>
                        </div>
                    </div>

                    <div class="form-group row mb-2" id="amount_trip">
                        <div class="row">
                            
                            <div class="col-sm-4 col-form-label">{{ form.amount_trip.label }}</div>
                            
                            <div class="col-sm-8">
                            {{ form.amount_trip }}
                            {% for error in form.amount_trip.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                            </div>
                        </div>
                    </div>

                    <div class="form-group row mb-2" id="distance">
                        <div class="row">
                            
                            <div class="col-sm-4 col-form-label">{{ form.distance.label }}</div>
                            
                            <div class="col-sm-8">
                            {{ form.distance }}
                            {% for error in form.distance.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                            </div>
                        </div>
                    </div>

                    <div class="form-group row mb-2" id="type_trip">
                        <div class="row">
                            
                            <div class="col-sm-4 col-form-label">{{ form.type_trip.label }}</div>
                            
                            <div class="col-sm-8">
                            {{ form.type_trip }}
                            {% for error in form.type_trip.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                            </div>
                        </div>
                    </div>

                    <div class="form-group row mb-2" id="average_usage">
                        <div class="row">
                            
                            <div class="col-sm-4 col-form-label">{{ form.average_usage.label }}</div>
                            
                            <div class="col-sm-8">
                            {{ form.average_usage }}
                            {% for error in form.average_usage.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                            </div>
                        </div>
                    </div>



                    <div id="submit_button" class="mb-2 d-flex justify-content-end">
                        {{ form.submit(class="btn btn-danger") }}
                    </div>

                    <div class="row">
                        <div class="col-md-8 offset-md-4">
                            <div class="results">
                                <p class="h2 fw-bold fst-italic">Your trip information to calculate:</p>
                                <p class="h5">Your trip frequency is <span class="fw-bold">{{ trip.trip_frequency }}.</span></p>
                                {% if trip_frequency == 'cyclical'%}
                                    <p class="h5">You have <span class="fw-bold">{{ trip.amount_trip }}</span> cyclical trip in month.</p>
                                {% endif %}
                                <p class="h5">The distance of your trip is <span class="fw-bold">{{ trip.distance }} KM</span>.</p>
                                <p class="h5">Your main type trip is <span class="fw-bold">{{ trip.type_trip }}</span>.</p>
                                <p class="h5">Your car use on {{ trip.type_trip }} <span class="fw-bold">{{ trip.average_usage }} L of Diesel per 100km</span>.</p>
                            </div>
                        </div>
                    </div>

{% endblock %}