
<!--Footer-->

<footer class="footer bg-dark text-white p-2" id="Contact">
    <div class="container">
        <div class="grid">
            <div class="row align-items-center mt-2">
                <div class="col-md-4">
                    <p class="trademark">Diesel On &trade;</p>
                    <small class="copyright text-danger">
                        Made by Paulina Kimak<br>
                        Copyright &copy; 2022<br>
                        All right reserved</small>
                </div>

                <div class="col-md-4">
                    <div class="links">
                        <div class="container-fluid">
                            <div class="grid">
                                <div class="row">
                                    <div class="col-md-4">2 linki</div>
                                    <div class="col-md-4">2 linki</div>
                                    <div class="col-md-4">2 linki</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">

                </div>

            </div>
        </div>
    </div>
</footer>