<!-- zamiast index -->

{% extends "base.html" %}

{% block content %}
<div class="jumbotron">
    <h1>All trip list</h1>
</div>

<div class="container">
    {% for trip in usertrip_list.items %}
    <div class="card">
        <div class="card-body">
            <h2>Trip id: <a class="card-title" href="{{url_for('trip.view_trip', usertrip_id=trip.id) }}">{{trip.id}}</a></h2>
            <h4>Add by:
            <a href="#">{{trip.author.username}}</a>
            </h4>
            <p>Add date: {{trip.date}} </p>
            <a class="btn btn-secondary" href="{{url_for('trip.view_trip', usertrip_id=trip.id) }}">Read trip info</a>
            <a class="btn btn-danger" href="{{url_for('trip.calc_trip', usertrip_id=trip.id) }}">Calculate cost of trip</a>
        </div>
    </div>
    {% endfor%}
</div>


{% endblock %}

<!-- {{url_for('users.user_trips', username=trip.author.username)}} -->

<!-- {{url_for('trip.calc_trip', usertrip_id=usertrip.id) }} -->