{% extends "base.html"%}

{% block title %} Trips_history {% endblock %}


{% block content %}
<table class="table table-sm">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">trip_frequency</th>
        <th scope="col">amount_trip</th>
        <th scope="col">distance</th>
        <th scope="col">type_trip</th>
        <th scope="col">average_usage</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td colspan="2">Larry the Bird</td>
        <td>@twitter</td>
      </tr>
    </tbody>
  </table>
{% endblock %}