<!-- wyświetla info o użytkowniku i przypisane do niego trips -->

{% extends "base.html"%}

{% block title %} User_trips_collection {% endblock %}


{% block content %}
<div class="container">
  <div class="jumbotron">
    <div align="center">
      <h1>Welcome to the page for {{user.username}}</h1>
      <img src="{{url_for('static', filename='profile_pics/'+user.profile.image)}}" alt="">
    </div>
  </div>


  {% for trip in trips_collection.item %}
    <h2><a href="#"></a>{{Trip.id}}</h2>
    Written by: <a href="{{url_for('users.user_trips', username=trips.author.username)}}">{{Trip.author}}</a>
    <p class="text-muted">Published on:{{Trip.date.strftime("%Y-%m-%d")}}</p>
    <br>
    <p>{{Trip.distance}}</p>
    <br>
  {% endfor %}
</div>

<nav aria-label="Page Navigation example">
  <ul class="pagination justify-content-center">
    {% for page_num in trips_collection.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=1)%}
      {% if trips_collection.page == page_num %}
      <li class="page-item disabled">
        <a href="{{url_for('users.user_trips', username=user.username, page=page_num)}}" class="page-link">{{ page_num }}</a>
      </li>
      {% else %}
      <li class="page-item">
        <a href="{{url_for('users.user_trips', username=user.username, page=page_num)}}" class="page-link">{{ page_num }}</a>
      </li>
      {% endif%}
    {% endfor %}
  </ul>
</nav>

{% endblock %}
<!--user.username nie jest z current user tylko ten po którym robumy query w users/view/trips route-->
<!-- trips_collection.item bo w w users/view/trips route mamy query czyli baze danych -->