body{
    background: aquamarine;
}

.prices{
    background-color: #9F9F9F;
}

.content{
    background-color: #9F9F9F;
}

.footer{
    background-color: #1F1E1E;
}

.col1{
    background: #1F1E1E;
}